extends layout

block content
    h1(style=" color: #000000")= title
    //h1(style=" color: #FF0000")= title
    p This page was served by #{hostname}
    p Date and Time: #{datetime}
    p Number of hits on each App Server:
    ul
      for res in results
        li= res.appserver + ' = ' + res.hit
